@font-face {
    font-family: 'MyWebsiteFont';
    src: url('DancingScript-Regular.otf') format('truetype');
  }

  body {
    font-family: 'MyWebsiteFont', sans-serif;
  }

  #icon{
    color: rgba(0,0,0,.9);
  }

  .sidebar-link{
    font-size: x-large;
    font-weight: bold;
    color: grey;
    align-self: center;
  }
  
  @media (max-width: 767px) {
    .order-md-1 {
      order: 1;
    }
    .order-md-2 {
      order: 3;
    }
    .order-md-3 {
      order: 2;
    }
  }