@font-face {
    font-family: 'MyWebsiteFont';
    src: url('DancingScript-Regular.otf') format('truetype');
  }

  body {
    font-family: 'MyWebsiteFont', sans-serif;
  }

  #icon{
    color: rgba(0,0,0,.9);
  }