@font-face {
    font-family: 'MyWebsiteFont';
    src: url('DancingScript-Regular.otf') format('truetype');
  }

  body {
    font-family: 'MyWebsiteFont', sans-serif;
  }

  #icon{
    color: rgba(0,0,0,.9);
  }

  .sidebar-link{
    font-size: x-large;
    font-weight: bold;
    color: grey;
    align-self: center;
  }

  .sidebar-link.active{
    font-size: x-large; 
    font-weight: bold;
    color: black;
    align-self: center;
  }
  
  